.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  color: #c6c6c6;
}

.homeButton {
  margin-top: 20px;
  width: 100px;
  padding: 10px 20px;
  background-color: #1f83f2;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.homeButton:hover {
  background-color: #1666c1;
}