.container {
	position: relative;
	margin: 100px 0;
	width: 480px;
	border-radius: 30px;
	background: #2f363e;
	padding: 30px;
	box-shadow:
		25px 25px 75px rgba(0, 0, 0, 0.25),
		10px 10px 70px rgba(0, 0, 0, 0.25),
		inset 5px 5px 10px rgba(0, 0, 0, 0.5),
		inset 5px 5px 20px rgba(255, 255, 255, 0.2),
		inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

h2 {
	width: 100%;
	font-weight: 600;
	text-align: center;
	color: #fff;
	font-size: 1.75em;
	margin-bottom: 10px;
}

label {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-left: 40px;
	cursor: pointer;
}

.input-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding: 10px;
}

.todoInput {
	width: 100%;
	border: none;
	outline: none;
	padding: 15px 20px;
	border-radius: 30px;
	font-size: 1em;
	box-shadow:
		5px 5px 7px rgba(0, 0, 0, 0.25),
		inset 2px 2px 5px rgba(0, 0, 0, 0.5),
		inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.empty {
	text-align: center;
	list-style: none;
}

button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 45px;
	border-radius: 20%;
	cursor: pointer;
	border: 1px solid #000;
	box-shadow:
		5px 5px 7px rgba(0, 0, 0, 0.5),
		inset 2px 2px 2px rgba(0, 0, 0, 0.15),
		inset -3px -3px 2px rgba(0, 0, 0, 0.15);
	background: #1f83f2;
	font-weight: 600;
	color: #fff;
	transition: 0.3s;
	&:hover {
		background: transparent;
		border: 1px solid #fff;
		opacity: 0.5;
	}
}

.listItem {
	white-space: nowrap;
	display: flex;
	position: relative;
	width: calc(100% - 55px);
	background: #1f83f2;
	margin: 15px 0;
	padding: 10px 10px 15px 5px;
	min-height: 45px;
	cursor: pointer;
	border-radius: 22.5px;
	box-shadow:
		5px 5px 7px rgba(0, 0, 0, 0.25),
		inset 2px 2px 5px rgba(0, 0, 0, 0.5),
		inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.listItem label {
	width: 330px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
}

.error {
	color: red;
	text-align: center;
}

